.register {
    width: 35vw;
    border: 1px solid black;
    margin: 5vh auto;
    background: url("https://images.pexels.com/photos/7546295/pexels-photo-7546295.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: contain;
  }
  .register h1 {
    text-align: center;
    color: aliceblue;
  }
  .register form {
    display: flex;
    flex-direction: column;
  }
  .register input, button{
      width: 50%;
      height: 4vh;
      margin: 2vh auto;
  }
  .register input{
      font-size: large;
      border-bottom: 5px solid rgb(134, 133, 109);
      color:azure;
      font-weight: bold;
      background: transparent;
  }
  .register button{
      font-size: larger;
      font-weight: bolder;
      background:transparent;
      color: aqua;
     border: none;
      border-bottom: 2px solid gold;
  }
  .register h3{
    text-align: center;
    font-size: large;
    font-weight: 100;
    color: aqua;
  }
  