.nav nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgba(14, 3, 77, 0.868);
}
.nav li {
    text-align: center;
    display: inline;
    list-style: none;
    font-size:x-large;
   
}

#l0, #l1, #l2{
    margin: 4.5vw;
    color: blanchedalmond;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#l0:hover, #l1:hover, #l2:hover{
    text-decoration: underline;
    color: chartreuse;
}
#usernamehead{
    display: inline;
    color: chartreuse;
    padding-right: 0.5vw;
}






