.nav nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(14, 3, 77, 0.868);
}
.nav li {
    list-style: none;
    font-size:x-large;
    padding-bottom: 5px;
}
#home{
    margin-left: 15px;
}
#signup{
    display: block;
   width: 200px;
}

#l0{
    margin-right: 40px;
}

#l2{
    margin-right: 40px;
    margin-left: 15px;
}

#l0, #l1, #l2, #l3{
    color: blanchedalmond;
    text-decoration: none;
}

#l0:hover, #l1:hover, #l2:hover, #l3:hover{
    text-decoration: underline;
    color: chartreuse;
}







